uvicorn[standard]
fastapi
transformers==4.33.0
torch==2.0.1
accelerate
sentencepiece
python-dotenv==1.0.0
peft
pandas
python-docx
PyPDF2
markdown
bs4
pylatexenc
colorama
python-multipart
openpyxl
datasets
swifter
SQLAlchemy
psycopg2
psutil
Jinja2
pydantic-argparse