#-e /home/muratsilahtoroglu/Fine_Tuning/git_projects/AdvencedRagLLM/m_libs/semantic_search@0.1.0
-e /home/muratsilahtoroglu/Fine_Tuning/git_projects/AdvencedRagLLM/m_libs/semantic_search
-e /home/muratsilahtoroglu/Fine_Tuning/git_projects/AdvencedRagLLM/m_libs/client
